---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hola! Soy Adriana</h1>

			<h3>Bienvenidos a mi blog ✍️ </h3>
			<p>
				Este es mi espacio para compartir escritos, ideas y exploraciones.  
				Acá vas a encontrar desde reflexiones íntimas hasta experimentos creativos.
				Te invito a ir aca arriba a Blogs, ahi encontraras mis escritos.
			</p>
			<p>¡Buen viaje!</p>
		</main>
		<Footer />
	</body>
</html>
